{% extends 'base.html.twig' %}

{% block body %}
<div class="portfolio-works">
    <div class="single-project style-01">
        <div class="col-md-7 left-panel">
            <div class="project-thumbnails">
                <a href="{{ asset('images/single/1.jpg') }}" data-fancybox="gallery" class="fancybox"><img src="{{ asset('images/single/1.jpg') }}" alt="Project Image"></a>
                <a href="{{ asset('images/single/2.jpg') }}" data-fancybox="gallery" class="fancybox"><img src="{{ asset('images/single/2.jpg') }}" alt="Project Image"></a>
                <a href="{{ asset('images/single/3.jpg') }}" data-fancybox="gallery" class="fancybox"><img src="{{ asset('images/single/3.jpg') }}" alt="Project Image"></a>
            </div>
            <!-- /.project-thumbnails -->
        </div>
        <div class="col-md-5 right-panel">
            <div class="project-details">
                <span class="category">{{ category.name }}</span>
                <h2 class="item-title">{{ project.title }}</h2>
                <p style="text-align: justify;">
                    {{ project.description }}
                </p>

                <div class="project-meta">
                    <h5>Details</h5>
                    <ul>
                        <li>
                            <span class="meta-id"><span>Client</span></span>
                            <span>{{ project.client }}</span>
                        </li>
                        <li>
                            <span class="meta-id"><span>Date</span></span>
                            <span><time datetime="2017-04-30">{{ project.date|date("Y-m-d") }}</time></span>
                        </li>
                        <li>
                            <span class="meta-id"><span>Share</span></span>
                            <span class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- /.project-meta -->
                <a href="{{ path('app_homepage') }}" class="btn">Revenir à l'accueil <i class="icon-arrow"></i></a>
                <!-- /.btn -->
            </div>
            <!-- /.project-details -->
        </div>
    </div>
    <!-- /.single-project -->
</div>
<!-- /.portfolio-works -->

{% endblock %}